# AI tool configs
GEMINI.md
QWEN.md
.qwen
.agents
graphify-out
skills-lock.json

# Model files (Terlalu besar untuk GitHub)
Notebook/indobert_judol_model
Notebook/indobert_judol_model_focal
model/indobert_judol_model/model.safetensors
model/indobert_judol_model_focal/model.safetensors